params {
  profile = false
  metadata = 'NO_FILE'
  ncov_tools_version = '1.5.1'
  primer_scheme_name = 'V1200'
  primer_scheme_version = '2.2'
  ncov_watchlists_version = '1.3'
  completeness_threshold = 0.75
  downsampled = false
  split_by_plate = false
  freebayes_consensus = false
  freebayes_variants = false
  update_pangolin = false
}

profiles {
  conda {
    process.conda = "$baseDir/environments/ncov-tools-1.5.yml"
    if (params.cache){
      conda.cacheDir = params.cache
    }
  }
}

process {
  withName: ncov_tools { 
    cpus = 14
  }
}

manifest {
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '1.5.8'
}
