manifest {
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '1.9.1.1'
}

params {
  profile = false
  metadata = 'NO_FILE'
  ncov_tools_version = '1.9.1'
  primer_scheme_name = 'V1200'
  primer_scheme_version = '4.0'
  completeness_threshold = 0.75
  pre_downsampled = false
  no_split_by_plate = false
  ivar_consensus = false
  ivar_variants = false
  update_pangolin = false
}

profiles {
    conda {
	process.conda = "$baseDir/environments/ncov-tools-1.9.yml"
	conda.enabled = true
	if (params.cache){
	    conda.cacheDir = params.cache
	}
    }
}

process {
  withName: ncov_tools { 
    cpus = 14
  }
}
