params {
  profile = false
  metadata = 'NO_FILE'
  ncov_tools_version = '1.4'
  primer_scheme_version = '2.1'
  completeness_threshold = 0.75
}

profiles {
  conda {
    process.conda = "$baseDir/environments/ncov-tools-1.4.yml"
    if (params.cache){
      conda.cacheDir = params.cache
    }
  }
}

manifest {
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '1.4.0'
}
